/* Online Groups dot Net stylesheet */
/**********/
/* Colour */
/**********/
/* #6c911d Headings                  Green */
/* #81a13d Secondary Heading   Light Green */
/* #324607 Visited Link         Dark Green */
/* #5c791c Borders            Medium Green*/
/* #edf1e4 Link background */

/* Headings */
h1, h2, h3, h4, h5, #titlebar .division {
  color: #6c911d;
}

/* Secondary Headings */
fieldset legend, caption, .label, #contextnav .label, #contextnav .label a, #contextnav p, #contextnav p a, #contextnav li a, .message-result, #contextnav li a.current:visited, a:hover {
  color: #81a13d;
}
#siteMembership a:hover {
  font-weight: normal;
}
/* Borders */
#gs-profile-view #siteMembership, #gs-profile-view #membership .current, #sitenavigation li, #utilitylinks li, #manage-members .statusActions {
  border-color: #5c791c;
}
#contextnav li {
  border-bottom: 1px dotted #5c791c;
}
.popup-help h3 {
  border-bottom: 1px solid #5c791c;
}
.message-result {
  border-left: 0.692em solid #5c791c;
}
.postList, .emaildetails-odd, .emaildetails-even, .emaildetails-self-even, .emaildetails-self-odd {
  border-bottom: 1px solid #5c791c;
  border-top: 1px solid #5c791c;
}
#contextnav .label {
  border-top: 1px solid #5c791c;
}
#contextnav li {
  border-bottom: 1px dotted #5c791c;
}
.postList, #tabmenu {
  border-bottom: 0.692em solid #5c791c;
}
#toparea {
  border-color: #5c791c;
}
.userProfile #siteMembership {
  border-left-color: #5c791c;
}
#siteMembership a, .userProfile #groups a {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
#siteMembership .current, #siteMembership a:hover {
  border-top: 1px solid #5c791c;
  border-right: 1px solid #5c791c;
  border-bottom: 1px solid #5c791c;
}
/* Zebra stripes on tables and for posts */
.hentry {
  border: none;
}
.even {
  border-top: thin solid #5c791c;
  border-bottom: thin solid #5c791c;
}
/* Background */
#contextnav .label, .message-result, #contextnav li a:hover, .emaildetails-self-even, #siteMembership .current, #siteMembership a:hover, .even {
  background: #edf1e4;
}

th {
  color: #6c911d;
  background: none;
}

/* User Profile */
.row .label {
  color:  #6c911d;
  background: none;
}
label, div.formelementcheck label, div.formelementtext label, div.checkgroup label, div.formelementsinglecheck label, div.formelementtextarea label{
  color:  #6c911d;
  background: none;
}
.required label:before {
  color: red;
}

/* Icons */
.navlinks a, .navlinks span, code.url, .alternateATOM, .email, .fileIcon, .share-widgets a, .share-widgets span {
  background-image: url("/++resource++icons-colour.png");
}

/*
 * jQuery UI CSS Framework @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS,%20Tahoma,%20Verdana,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=100%&cornerRadius=4px&bgColorHeader=d0ddb0&bgTextureHeader=01_flat.png&bgImgOpacityHeader=100&borderColorHeader=5c791c&fcHeader=6c911d&iconColorHeader=6c911d&bgColorContent=ffffff&bgTextureContent=03_highlight_soft.png&bgImgOpacityContent=100&borderColorContent=5c791c&fcContent=333333&iconColorContent=222222&bgColorDefault=edf1e4&bgTextureDefault=01_flat.png&bgImgOpacityDefault=100&borderColorDefault=5c791c&fcDefault=6c911d&iconColorDefault=6c911d&bgColorHover=5c791c&bgTextureHover=01_flat.png&bgImgOpacityHover=100&borderColorHover=5c791c&fcHover=ffffff&iconColorHover=ffffff&bgColorActive=5c791c&bgTextureActive=01_flat.png&bgImgOpacityActive=1000&borderColorActive=5c791c&fcActive=ffffff&iconColorActive=ffffff&bgColorHighlight=ffe45c&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=75&borderColorHighlight=5c791c&fcHighlight=5c791c&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=08_diagonals_thick.png&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=08_diagonals_thick.png&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=01_flat.png&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
 */


/* Component containers
----------------------------------*/
.ui-widget-content { border: 1px solid #5c791c; background: #ffffff url(/++resource++jquery-icons/ui-bg_highlight-soft_100_ffffff_1x100.png) 50% top repeat-x; }
.ui-widget-header { border: 1px solid #5c791c; background: #d0ddb0 url(/++resource++jquery-icons/ui-bg_flat_100_d0ddb0_40x100.png) 50% 50% repeat-x; color: #6c911d; font-weight: bold; }
.ui-widget-header a { color: #6c911d; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #5c791c; background: #edf1e4 url(/++resource++jquery-icons/ui-bg_flat_100_edf1e4_40x100.png) 50% 50% repeat-x; font-weight: bold; color: #6c911d; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #6c911d; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #5c791c; background: #5c791c url(/++resource++jquery-icons/ui-bg_flat_100_5c791c_40x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; }
.ui-state-hover a, .ui-state-hover a:hover { color: #ffffff; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #5c791c; background: #5c791c url(/++resource++jquery-icons/ui-bg_flat_100_5c791c_40x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ffffff; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #5c791c; background: #ffe45c url(/++resource++jquery-icons/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x; color: #5c791c; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #5c791c; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #b81900 url(/++resource++jquery-icons/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(/++resource++jquery-icons/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(/++resource++jquery-icons/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(/++resource++jquery-icons/ui-icons_6c911d_256x240.png); }
.ui-state-default .ui-icon { background-image: url(/++resource++jquery-icons/ui-icons_6c911d_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(/++resource++jquery-icons/ui-icons_ffffff_256x240.png); }
.ui-state-active .ui-icon {background-image: url(/++resource++jquery-icons/ui-icons_ffffff_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(/++resource++jquery-icons/ui-icons_228ef1_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(/++resource++jquery-icons/ui-icons_ffd27a_256x240.png); }

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { background: #666666 url(/++resource++jquery-icons/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; opacity: .50;filter:Alpha(Opacity=50); }
.ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000 url(/++resource++jquery-icons/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

