/* gs.skin.green */

body {
    color: #667366; /* Lead */
    background: #ffffff;
}
h1, 
h2, 
h3, 
a {
    color: #669900;  /* Hibiscus dream */
}
h3, 
h3.small, 
.small h3 {
    border-color: #b4d07b; /* Lime mist */
}
h4, 
strong, 
.gs-search-result .topic {
    color: #404d40; /* Liquefaction grey */
}


#toparea {
    background: #669900; /* Hybiscus dream*/
    border-color: #b4d07b; /* Lime mist */
}

#titlebar .site {
    color: #ffffff;
}

#utilitylinks, 
#utilitylinks a,
#titlebar .dotted-inline-list li:before {
    color: #b4d07b; /* Lime mist */
}
#utilitylinks a:hover, #utilitylinks .fn {
    color: #d9e8bd; /* Dusty green */
}

.muted, .dotted-inline-list li:before {
    color: #8c968a; /* Tropical whisper */
}

.gs-group-list,
.gs-group-list .vcard, 
.gs-search-results .gs-search-result,
.gs-content-js-more-buttons,
.small .gs-content-js-more-buttons,
.hentry {
    border-color: #d9e8bd; /* Dusty green */
}

.gs-search-result .postCount {
    border-color: #669900;
}
.gs-search-result .postCount:after {
    border-top-color: #669900;
}
.gs-search-result .postCount {
    background: #669900;
    color: #d9e8bd;
}
